html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



p{
    margin: 0;

}

a{
    text-decoration: none;
    color: #000;
}

button{
    background-color: transparent;
    border: 0;
}

.img-stylings{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}




.description-section{
    padding: 1rem 1rem;
    background-color: burlywood;
}

.general{
    padding: 1rem 0rem;
}

.product-title{
    margin-bottom: 1rem;
    font-size: 36px;
}

.product-price{
    
}

.selection{
    padding: 1rem 0rem;
}


.specifics{
    padding: 1rem 0rem;
}
